.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 360px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
}

.content-header {
    color: #fff;
    font-size: 24px;
    padding: 20px 20px;
    text-align: center;
    background-color: #108ee9;
}

.content-body {
    margin-top: 12px;
    padding: 24px;
}

.login-form {
    max-width: 300px;
}

.login-forgot {
    float: right;
}

.login-button {
    width: 100%;
}